:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --white: #FFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;

}
body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
